#cookies-banner {
  @include vendor('align-items', 'center');
  @include vendor('background-image', 'url("../images/cookies-banner.jpg")');
  @include vendor('display', 'flex');
  @include padding(4em, 0, (2em, 0, 0, 0));
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 0 !important;
  cursor: default;
  height: 60vh;
  margin-bottom: -3.25em;
  max-height: 32em;
  min-height: 22em;
  position: relative;
  top: -3.25em;

  &:after {
    @include vendor('transition', 'opacity #{_duration(banner)} ease');
    @include vendor('transition-delay', '0.75s');
    @include vendor('pointer-events', 'none');
    // background-color: _palette(bg);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
