.menu {
	border-bottom: none !important;
}
.home-head {
	background: url('./images/cookie.jpg') no-repeat ;
	background-size: cover ;
	height: 100vh;
	background-attachment: fixed ;
    background-position: center;
}
.header-msg {
	position: relative;
	top: 40vh;
	color: #fff ;
	font-size: 3em ;
} 