.menu {
	border-bottom: none !important;
}
.home-head {
	background: url('./images/cookie.jpg') no-repeat !important;
	background-size: cover !important;
	height: 100vh;
	background-attachment: fixed !important;
    background-position: center;
}
.header-msg {
	position: relative;
	top: 40vh;
	color: #fff !important;
	font-size: 3em !important;
} 